.collapse-container {
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__title {
    cursor: pointer;
    display: flex;
    margin: 0;
    background-color: #ff6060;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 18px;
  }

  &__arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;

    &__arrow {
      width: 24px;
      height: 14px;

      &__in {
        transition: transform 0.5s ease-in-out;
        transform: rotate(-180deg);
      }

      &__out {
        transition: transform 0.5s ease-in-out;
        transform: rotate(0deg);
      }
    }
  }

  &__content {
    display: flex;

    &__wrapper {
      width: 100%;
    }

    &__text {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;
      background-color: #f6f6f6;
      border-radius: 5px;
    }
  }

  .collapse-container__content.is-open .collapse-container__content__text {
    max-height: 100%;
    padding: 20px;
  }

  &__content-open {
    & p {
      margin: 0;
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
